
<form action="" *ngIf="newKeg" class="animated fadeInDown" id="newKeg">
  <input #newKegName type="text" class="form-control mb-2" name="name" placeholder="Name">
  <input #newKegBrand type="text" class="form-control mb-2" name="brand" placeholder="Brand">
  <input #newKegPrice type="number" class="form-control mb-2" name="price" placeholder="Price">
  <input #newKegAlcoholContent type="number" class="form-control mb-2" name="alcoholContent" placeholder="Alcohol Content">
  <button (click)="submitForm(newKegName.value, newKegBrand.value, newKegPrice.value, newKegAlcoholContent.value)" class="btn btn-info">Done</button>
</form>

