<div class="container">
  <div [ngClass]="{ 'jumbotron': true, 'noHappyHour': !happyHour }">
    <span class="ml12">{{title}}</span>
  </div>
  <app-happy-hour [happyHour]="happyHour"></app-happy-hour>
  <div class="content">
    <table class="table">
      <thead class="thead">
        <tr class="table-headers">
          <th (click)="columnSortClicked('name', toggleOrder('name'))" scope="col">Name <span *ngIf="desiredColumn === 'name'">{{triangles("name")}}</span></th>
          <th (click)="columnSortClicked('brand', toggleOrder('brand'))" scope="col">Brand <span *ngIf="desiredColumn === 'brand'">{{triangles("brand")}}</span></th>
          <th (click)="columnSortClicked('price', toggleOrder('price'))" scope="col">Price <span *ngIf="desiredColumn === 'price'">{{triangles("price")}}</span></th>
          <th (click)="columnSortClicked('alcoholContent', toggleOrder('alcoholContent'))" scope="col">Alcohol Content <span *ngIf="desiredColumn === 'alcoholContent'">{{triangles("alcoholContent")}}</span></th>
          <th (click)="columnSortClicked('pints', toggleOrder('pints'))" scope="col">Pints Remaining <span *ngIf="desiredColumn === 'pints'">{{triangles("pints")}}</span></th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let keg of currentKegs | orderBy:{desiredColumn: this.desiredColumn, desiredOrder: this.desiredOrder }">
          <td [ngClass]="{'text-danger': (keg.pints < 10), 'background-sale': (keg.discount != 1)}">{{keg.name}}</td>
          <td [ngClass]="{'text-danger': (keg.pints < 10), 'background-sale': (keg.discount != 1)}">{{keg.brand}}</td>
          <td [ngClass]="{'background-sale': (keg.discount != 1)}"><span [class]="priceColor(keg)">{{keg.priceText}}</span>&nbsp;{{keg.price*keg.discount}}</td> 
          <td [ngClass]="{'background-sale': (keg.discount != 1)}"><span [class]="alcoholContentColor(keg)">{{keg.alcoholContent}}%</span></td> 
          <td [ngClass]="{'text-danger': (keg.pints < 10), 'background-sale': (keg.discount != 1)}">{{keg.pints}}</td>
          <td [ngClass]="{'background-sale': (keg.discount != 1)}"><button (click)="editKeg(keg)" class="btn btn-secondary">Edit</button></td>
          <td [ngClass]="{'background-sale': (keg.discount != 1)}">
            <div class="dropdown">
              <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sell</button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a (click)="sell(keg, 'pint')" class="dropdown-item">Pint</a>
                <a (click)="sell(keg, 'growler')" class="dropdown-item">Growler</a>
                <a (click)="sell(keg, 'largeGrowler')" class="dropdown-item">Large Growler</a>
              </div>
            </div>
          </td>
          <td [ngClass]="{'background-sale': (keg.discount != 1)}"><button (click)="deleteKeg(keg)" class="btn btn-danger">Delete</button></td>
        </tr>
      </tbody>
      
    </table>
    <app-edit-keg [selectedKeg]="selectedKeg" (clickSender)="editKeg($event)" (hideSender)="hideEditKeg()"></app-edit-keg>
    <app-new-keg [newKeg]="newKeg" [currentKegs]="currentKegs" (addNewKegSender)="addNewKeg($event)"></app-new-keg>

    <button *ngIf="!newKeg && !selectedKeg" (click)="newKegOpen()" class="btn btn-success">Add New Keg</button>
    <button *ngIf="!newKeg && !selectedKeg && !happyHour" (click)="startHappyHour()" class="btn btn-success">Start Happy Hour</button>
    <button *ngIf="!newKeg && !selectedKeg && happyHour" (click)="endHappyHour()" class="btn btn-success">End Happy Hour</button>

  </div>
</div>
