<div class="container">
  <div class="jumbotron">
    <h1>{{title}}</h1>
  </div>
  <div class="content">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Brand</th>
          <th scope="col">Price</th>
          <th scope="col">Alcohol Content</th>
          <th scope="col">Pints Remaining</th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let keg of currentKegs">
          <td [class]="lessThan10Pints(keg)">{{keg.name}}</td>
          <td [class]="lessThan10Pints(keg)">{{keg.brand}}</td>
          <td><span [class]="priceColor(keg)">{{keg.priceText}}</span>${{keg.price}}</td> 
          <td [class]="alcoholContentColor(keg)">{{keg.alcoholContent}}%</td> 
          <td [class]="lessThan10Pints(keg)">{{keg.pints}}</td>
          <td><button (click)="editKeg(keg)" class="btn btn-secondary">Edit</button></td>
          <td><button (click)="sellPint(keg)" class="btn btn-primary">Sell Pint</button></td>
          <td><button (click)="deleteKeg(keg)" class="btn btn-danger">Delete</button></td>
        </tr>
      </tbody>
      
    </table>
    <button (click)="newKegOpen()" class="btn btn-success">Add New Keg</button>
    <app-edit-keg [selectedKeg]="selectedKeg" (clickSender)="editKeg($event)"></app-edit-keg>
    <app-new-keg [newKeg]="newKeg" [currentKegs]="currentKegs"></app-new-keg>
  </div>
</div>
