<div class="container">
  <div class="jumbotron">
    <h1>{{title}}</h1>
  </div>
  <div class="content">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Brand</th>
          <th scope="col">Price</th>
          <th scope="col">Alcohol Content</th>
          <th scope="col">Pints Remaining</th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let keg of currentKegs">
          <td [class]="lessThan10Pints(keg)">{{keg.name}}</td>
          <td [class]="lessThan10Pints(keg)">{{keg.brand}}</td>
          <td><span [class]="priceColor(keg)">{{keg.priceText}}</span>${{keg.price}}</td> 
          <td [class]="alcoholContentColor(keg)">{{keg.alcoholContent}}%</td> 
          <td [class]="lessThan10Pints(keg)">{{keg.pints}}</td>
          <td><button (click)="editKeg(keg)" class="btn btn-secondary">Edit</button></td>
          <td><button (click)="sellPint(keg)" class="btn btn-primary">Sell Pint</button></td>
          <td><button (click)="deleteKeg(keg)" class="btn btn-danger">Delete</button></td>
        </tr>
      </tbody>
      
    </table>
    <button (click)="newKegOpen()" class="btn btn-success">Add New Keg</button>
    <div *ngIf="selectedKeg" id="editKeg">
      <input [(ngModel)]="selectedKeg.name" type="text" class="form-control mb-2" name="name">
      <input [(ngModel)]="selectedKeg.brand" type="text" class="form-control mb-2" name="brand">
      <input [(ngModel)]="selectedKeg.price" type="number" class="form-control mb-2" name="price">
      <input [(ngModel)]="selectedKeg.alcoholContent" type="number" class="form-control mb-2" name="alcoholContent">
      <button (click)="hideEditKeg()" class="btn btn-info">Done</button>
    </div>
    <form *ngIf="newKeg">
      <input [(ngModel)]="newKeg.name" type="text" class="form-control mb-2" name="name" placeholder="Name">
      <input [(ngModel)]="newKeg.brand" type="text" class="form-control mb-2" name="brand" placeholder="Brand">
      <input [(ngModel)]="newKeg.price" type="number" class="form-control mb-2" name="price" placeholder="Price">
      <input [(ngModel)]="newKeg.alcoholContent" type="number" class="form-control mb-2" name="alcoholContent" placeholder="Alcohol Content">
      <button (click)="addNewKeg(newKeg)" class="btn btn-info">Done</button>
    </form>
  </div>
</div>
