<div *ngIf="selectedKeg" id="editKeg">
    <input [(ngModel)]="selectedKeg.name" type="text" class="form-control mb-2" name="name">
    <input [(ngModel)]="selectedKeg.brand" type="text" class="form-control mb-2" name="brand">
    <input [(ngModel)]="selectedKeg.price" type="number" class="form-control mb-2" name="price">
    <input [(ngModel)]="selectedKeg.alcoholContent" type="number" class="form-control mb-2" name="alcoholContent">
    <button (click)="hideEditKegClicked()" class="btn btn-info">Done</button>
  </div>
