/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Syncopate:700');
@import url('https://fonts.googleapis.com/css?family=Lora:400,700');

body {
    background-image: url('./assets/img/TapRoomBG1.jpg');
    background-repeat: no-repeat;
    background-color: black;
    background-position-x: center;
    background-position-y: top;
}

.jumbotron {
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 50px;
    text-shadow: 2px 2px 2px black;
    color: rgb(196, 179, 179);
    font-family: 'Syncopate', sans-serif;
    text-align: center;
    background-color: rgba(0, 0, 0, .5);
    border: 1px solid rgb(196, 179, 179);
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgb(58, 58, 58);

}

.content {
    padding: 0 10px 10px 10px;
    color: rgb(196, 179, 179);
    background-color: rgba(0, 0, 0, .7);
    border: 1px solid rgb(196, 179, 179);
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgb(58, 58, 58);
}

th {
    font-family: 'Lora', sans-serif;
    font-weight: 700;
}

.btn {
    border-radius: 1px;
    border: 1px solid rgb(196, 179, 179);
    color: rgb(196, 179, 179);
    background-color: black;
    font-family: 'Lora', sans-serif;
    font-weight: 700;
}

.btn:hover {
    background-color: rgba(206, 121, 23, 0.7);
    border: 1px solid rgb(196, 179, 179);
}

.table thead th {
    border-bottom: none;
    border-top: none;
}

.ml12 {
    letter-spacing: 0.3em;
}
  
.ml12 .letter {
    display: inline-block;
    line-height: 1em;
}

.badge-success {
    background-color: rgb(25, 173, 187);
}

.badge-danger {
    background-color: rgb(202, 76, 99);
}

.badge-warning {
    background-color: rgb(255, 206, 71);
    color: rgb(255, 255, 255);
}

.dropdown-menu {
    background-color:rgba(119, 70, 14, 0.95);
    color: rgb(196, 179, 179);
    border-radius: 1px;
    border: 1px solid rgb(196, 179, 179);

}

.dropdown-item:hover {
    background-color: rgba(0, 0, 0, .8);
    cursor: pointer;
}